.vs
packages
Release/
ReleaseIntermediate/
Release-Linux/
Release-Tests/
Debug/
DebugIntermediate/
Debug-Tests/
Analysis
AnalysisIntermediate
testResults
*testResults*
*.opensdf
*.opendb
*.sdf
*.VC.db
*.cppcheck
EU4ToVic3/build
EU4ToVic3/cmake_install.cmake
.gitmodules
tests.xml
*bz2
*DotSettings.user
Output/
lib/
build/
