.vs
packages
Release/
ReleaseIntermediate/
Release-Linux/
Debug/
DebugIntermediate/
Analysis
AnalysisIntermediate
testResults
*testResults*
*.opensdf
*.opendb
*.sdf
*.VC.db
*.cppcheck
EU4toV3/build
EU4toV3/cmake_install.cmake
.gitmodules
tests.xml
*bz2