name: "Publish commit id"

on:
  push:
    branches: [main]

jobs:
  publish_id:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Publish commit id
      uses: ParadoxGameConverters/publish_commit_id@main
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        destination_file: 'EU4toVic3.txt'
        user_email: 'idhrendur@hotmail.com'
        user_name: 'idhrendur'
        destination_branch: 'main'
        commit_message: "Publish EU4toVic3's commit id"
