name: Build, test and publish
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
   build_and_test:
    runs-on: [self-hosted, windows]
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: "Get previous tag"
      if: ${{ github.event_name == 'push' }}
      id: previoustag
      uses: "WyriHaximus/github-action-get-previous-tag@v1"
    - name: "Init submodules"
      run: |
       git submodule update --init --recursive
    - name: "Build solution"
      run: |
       cd "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\"
       .\MSBuild.exe -m -p:Configuration=Release $Env:GITHUB_WORKSPACE\EU4toVic3.sln
    - name: "Run tests"
      run: |
       cd $Env:GITHUB_WORKSPACE\Release-Tests\
       .\EU4toV3Tests.exe
    - name: "Prepare release"
      if: ${{ github.event_name == 'push' }}
      run: |
       cd "C:\Program Files\7-Zip\"
       .\7z.exe a $Env:GITHUB_WORKSPACE\EU4toVic3-0.1Adams.zip $Env:GITHUB_WORKSPACE\Release\*
#    - name: Delete old release assets
#      if: ${{ github.event_name == 'push' }}
#      uses: mknejp/delete-release-assets@v1
#      with:
#        token: ${{ secrets.API_TOKEN_GITHUB }}
#        tag: ${{ steps.previoustag.outputs.tag }}
#        assets: EU4ToVic3-0.1Adams.zip
    - name: "Upload binaries to release"
      if: ${{ github.event_name == 'push' }}
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ steps.previoustag.outputs.tag }}
        allowUpdates: true
        omitBodyDuringUpdate: true
        omitNameDuringUpdate: true
        artifacts: EU4toVic3-0.1Adams.zip
        token: ${{ secrets.API_TOKEN_GITHUB }}
    - name: "Archive"
      if: ${{ github.event_name == 'push' }}
      uses: ncipollo/release-action@v1
      with:
        tag: windows_development_build
        allowUpdates: true
        omitBodyDuringUpdate: true
        omitNameDuringUpdate: true
        artifacts: EU4toVic3-0.1Adams.zip
        token: ${{ secrets.API_TOKEN_GITHUB }}
    - name: "Cleanup"
      if: ${{ true }}
      run: |
        Get-ChildItem -Path $Env:GITHUB_WORKSPACE -Recurse -Force | Remove-Item -force -recurse

